/* .responsive-tabs .ant-tabs {
  display: none;
}

.responsive-tabs .mobile-dropdown {
  display: block;
}

@media (min-width: 768px) {
  .responsive-tabs .ant-tabs {
    display: block;
  }

  .responsive-tabs .mobile-dropdown {
    display: none;
  }
} */
